Celery
celery[redis]
coreapi
Django
django-filter
djangorestframework
djangorestframework-filters
djangorestframework-jwt
markdown
Pillow
pygments
PyMySQL
requests
scrapy
tensorflow
urllib3
pathlib==1.0.1
scandir==1.6
h5py==2.7.1
Keras==2.1.2
opencv-python==3.3.0.10
scikit-image