{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sexypic/style.css' %}" />

{% if pictures %}
    <ul>
       {% for picture in pictures %}
		       <li><a href="{% static picture.static_path %}" target="__blank">{{ picture.title }}</a></li>
		       <li>{{ picture.tags }}</li>
		       <li>
		       	<div class="meizi-picture">
		       	  <!-- <img src="{{ picture.static_path }}" alt="{{ picture.title }}"> -->
		       	  <img src="{% static picture.static_path %}" alt="{{ picture.title }}">
		       	</div>
		       </li>
       {% endfor %}
    </ul>
{% else %}
    <p>No picture are available.</p>
{% endif %}