{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'sexypic/style.css' %}" />

{% if pictrues %}
    <ul>
       {% for pictrue in pictrues %}
		       <li><a href="{% static pictrue.static_path %}" target="__blank">{{ pictrue.title }}</a></li>
		       <li>{{ pictrue.tags }}</li>
		       <li>
		       	<div class="meizi-pictrue">
		       	  <!-- <img src="{{ pictrue.static_path }}" alt="{{ pictrue.title }}"> -->
		       	  <img src="{% static pictrue.static_path %}" alt="{{ pictrue.title }}">
		       	</div>
		       </li>
       {% endfor %}
    </ul>
{% else %}
    <p>No pictrue are available.</p>
{% endif %}