{% extends 'blogs/base.html' %}
 
{% block title %}欢迎光临首页{% endblock %}
 
{% block content %}
这里是首页，欢迎光临

教程列表：
{% for i in homedata.TutorialList %}
{{ i }}
{% endfor %}
站点：{{ homedata.site }} 内容：{{ homedata.content }}
<br />
<br />
<br />
{% for key, value in homedata.items %}
    {{ key }}: {{ value }}
{% endfor %}
<br />
<h1>sad</h1>
{% for item in homedata.List %}
    {{ item }}{% if not forloop.last %},{% endif %} 
{% endfor %}

<h1>out out</h1>
<div>{{ request.user }}</div>
<div>{{ request.path }}</div>
{% endblock %}
